{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
    <li class="breadcrumb-item active">Bir nechta ob'ektlarni o'chirish</li>
</ol>
{% endblock %}

{% block content_title %} Bir nechta ob'ektlarni o'chirish {% endblock %}

{% block content %}

<div class="col-12">
    <div class="card card-danger card-outline">
        <div class="card-header with-border">
            <h4 class="card-title">
                Bir nechta ob'ektlarni o'chirish
            </h4>
        </div>

        <div class="card-body">
            <div id="content-main">
                {% if perms_lacking %}
                    <p>{% blocktrans %}Tanlangan {{ objects_name }} ni oʻchirish quyidagi obʼyektlarni oʻchirishga olib keladi, lekin sizda quyidagi turdagi obyektlarni oʻchirishga ruxsat yoʻq:{% endblocktrans %}</p>
                    <ol>
                        {% for obj in perms_lacking %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ol>
                {% elif protected %}
                    <p>{% blocktrans %}Tanlangan {{ objects_name }} ni oʻchirish quyidagi  obyektlarni oʻchirishni talab qiladi:{% endblocktrans %}</p>
                    <ol>
                        {% for obj in protected %}
                        <li>{{ obj }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>{% blocktrans %}Haqiqatan ham tanlangan {{ objects_name }} ni oʻchirib tashlamoqchimisiz? Quyidagi barcha ob'ektlar va ularga tegishli elementlar o'chiriladi:{% endblocktrans %}</p>
                    <div class="row">
                        <div class="col-12 col-sm-9">
                            <h4>{% trans "Objects" %}</h4>
                            {% for deletable_object in deletable_objects %}
                                <ol>{{ deletable_object|unordered_list }}</ol>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-3">
                            {% include "admin/includes/object_delete_summary.html" %}
                            <hr />
                            <form method="post">
                                {% csrf_token %}
                                {% for obj in queryset %}
                                    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
                                {% endfor %}
                                <input type="hidden" name="action" value="delete_selected">
                                <input type="hidden" name="post" value="yes">
                                <div class="form-group">
                                    <input type="submit" class="btn {{ jazzmin_ui.button_classes.danger }} form-control" value="Ha">
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn {{ jazzmin_ui.button_classes.danger }} cancel-link form-control">Yo‘q, orqaga qaytish</a>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
